---
import { Image } from "astro:assets";
import BeGroup from "../assets/images/be.png";
import Freelance from "../assets/images/freelance.png";
---

<section class="w-5/6 mx-auto mt-48">
  <div>
    <h1
      data-aos="fade-up"
      data-aos-anchor-placement="center-bottom"
      class="mb-8 font-extrabold text-center text-4xl text-transparent bg-clip-text bg-gradient-to-tr from-[#d7d7d7] to-[#616161]"
    >
      Employment
    </h1>
    <p
      data-aos="fade-up"
      data-aos-anchor-placement="center-bottom"
      class="text-gray-400 text-center text-lg font-semibold"
    >
      This section highlights my professional journey and work experiences
    </p>
    <div class="flex gap-2 justify-center mt-16">
      <span class="w-1 bg-primary bg-opacity-5 rounded-md"></span>
      <div>
        <div class="text-primary font-semibold flex flex-col gap-y-8">
          <!-- <img class="w-16" src="https://cdn-icons-png.flaticon.com/512/2942/2942544.png" alt=""> -->
          <div class="flex gap-8 h-full items-center">
            <span
              data-aos="fade-right"
              class="-ml-[16px] animate-ping absolute inline-flex w-3 h-3 rounded-full bg-sky-400 opacity-75"
            ></span>
            <div
              data-aos="fade-up"
              class="flex flex-col border-primary/10 border-[1px] bg-primary/10 py-2 w-72 bg-opacity-10 px-8"
            >
              <a class="text-[#FFD200]" href="https://be.com.vn/">
                <div class="flex flex-row items-center justify-start">
                  <Image
                    class="text-center stroke-slate-50 stroke-2 w-6 h-6"
                    src={BeGroup}
                    alt="Be Group"
                    loading="eager"
                  />
                  <h1 class="text-lg text-[#FFD200] ml-1.5">
                    Be Group</a>
                  </h1>
                </div>
              </a>
              <p class="text-[15px] text-white">
                Product Designer
              </p>
              <p class="text-[13px] font-medium text-gray-400">10/2023 - Present</p>
            </div>
          </div>
          <div
              data-aos="fade-up"
              class="flex flex-col border-primary/10 border-[1px] bg-primary/10 py-2 w-72 bg-opacity-10 px-8"
            >
              <a class="text-[#FFD200]" href="#">
                <div class="flex flex-row items-center justify-start">
                  <Image
                    class="text-center stroke-slate-50 stroke-2 w-6 h-6"
                    style="border-radius: 4px"
                    src={Freelance}
                    alt="Be Group"
                    loading="eager"
                  />
                  <h1 class="text-lg text-[#FFD200] ml-1.5">
                    UXSG</a>
                  </h1>
                </div>
              </a>
              <p class="text-[15px] text-white">
                UI/UX Designer
              </p>
              <p class="text-[13px] font-medium text-gray-400">7/2022 - 4/2023</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
